.player-track-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.player-track-info__name {
  font-size: 16px;
}

.player-track-info__artist {
  font-size: 13px;
  color: #dad7d7;
}

.player-track-info__album {
  font-size: 13px;
  color: #dad7d7;
}