.upload-track-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upload-track-wrapper {
  display: flex;
  gap: 30px;
}

.picture-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
}

.picture-file-name {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.audio-block {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  align-self: center;
  gap: 30px;
}