.track-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  gap: 50px;
  border: 1px solid grey;

  &:hover {
    border: 1px solid #5824f3;
    outline: 1px solid #5824f3;
  }
}

.track-item__image {
  display: block;
  border: 1px solid #000;
}

.track-item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
}

.track-item__name {
  font-size: 20px;
}

.track-item__artist {
  font-size: 16px;
  color: grey;
}

.track-item__duration {
  margin-left: auto;
  font-size: 16px;
  color: grey;
}